transformers>=4.30.0
accelerate>=0.20.0
peft>=0.4.0
bitsandbytes>=0.40.0
scipy
numpy
pandas
wandb
trl
sentencepiece
protobuf
tqdm
vllm
tensorflow
fire
datasets
huggingface_hub
tf-keras

matplotlib
opencv-python
